.cart-items {
  padding-left: 50px;
  font-weight: 500;
  height: 600px;
}
.cart-items-header {
  font-size: 120%;
  font-weight: 700;
  padding-bottom: 20px;
}
.cart-items-empty {
  font-weight: 600;
  color: brown;
}
.cart-items-image {
  width: 50px;
}
.cart-items-list {
  padding-bottom: 10px;
}
.cart-items-list button {
  width: 20px;
}
.cart-items-list .quantity {
  border: 1px solid black;
  color: brown;
}
.cart-items-list .cart-items-price {
  color: green;
}
.cart-items-total {
  color: green;
  padding-top: 50px;
}
.cart-items-clear-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #fe2722;
}
.cart-items-clear-button .text-white {
  color: white;
}
.cart-items-pay-button {
  padding: 10px;
  margin-left: 50%;
}

@media (max-width: 488px) {
  .cart-items {
    padding-left: 35px;
    margin-left: 10px;
  }

  .cart-items-list {
    font-size: 60%;
    font-weight: 500;
  }
  .cart-items-total {
    font-size: 80%;
    font-weight: 600;
  }
  .cart-items-pay-button {
    right: 20px;
    margin-right: 20px;
    margin-left: 100px;
  }
}
