.cart-items {
  padding-left: 50px;
  font-weight: 500;
}
.cart-items-header {
  font-size: 120%;
  font-weight: 700;
  padding-bottom: 20px;
}
.cart-items-empty {
  font-weight: 600;
  color: brown;
}
.cart-items-image {
  width: 50px;
}
.cart-items-list {
  padding-bottom: 10px;
}
.cart-items-list button {
  width: 20px;
}
.cart-items-list .quantity {
  border: 1px solid black;
  color: brown;
}
.cart-items-list .cart-items-price {
  color: green;
}
.cart-items-total {
  color: green;
  padding-top: 50px;
}
.cart-items-pay-button {
  padding: 10px;
  margin-left: 50%;
}
