.item {
  width: 170px;
  height: 270px;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}
button,
button:active,
button:focus {
  border: none;
  transition: transform 0.2s ease;
}
.item .item-favorites {
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.item .item-favorites-red {
  position: absolute;
  right: 10px;
  color: red;
  transition: transform 0.2s ease;
}
.item .item-favorites-red:hover {
  transform: scale(1.2);
}
.item .item-favorites-red:active {
  transform: scale(0.96);
  color: red;
}

.item .item-favorites .button-favorites {
  cursor: pointer;
  transition: transform 0.2s ease;
  border: none;
}

.item .item-favorites .button-favorites:hover {
  transform: scale(1.2);
  color: red;
}
.item .item-favorites .button-favorites:active {
  transform: scale(0.96);
}

.item .Active {
  position: absolute;
  border: 1px solid green;
  border-radius: 5px;
  bottom: 10px;
  left: 10px;
  color: green;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.item .Active:active {
  transform: scale(0.96);
  background-color: green;
  color: white;
}
.item .notActive {
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  bottom: 10px;
  left: 10px;
  color: grey;
}
.item img {
  width: 100%;
  height: 63%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}

.item .item-star {
  color: goldenrod;
}

.item .item-rating {
  font-size: 14px;
  font-weight: 500;
  justify-content: left;
}
.item .item-sold {
  text-align: right;
  font-size: 14px;
  font-weight: 500;
}
.item img:hover {
  transform: scale(1.05);
}
