header {
  background-color: #fe2722;
  border-radius: 8px;
  max-width: 1200px;
  max-height: 75px;
  height: 60px;
  margin-left: 28px;
  margin-right: 28px;
}

header .logo {
  font-weight: 700;
  font-size: 20px;
  padding-top: 20px;
  margin-top: 20px;
}
header .logo img {
  margin-top: 18px;
  margin-left: 20px;
}
header .catalog-main {
  margin-left: 100px;
  margin-top: 6px;
  padding: 0px 0px;
  text-align: center;
  height: 48px;
  width: 48px;
  color: #f5f5f5;
  background-color: #dc3d3d;
  border-color: #dc3d3d;
  position: absolute;
  border-radius: 4px;
  font-weight: bold;
}
header .button-order {
  margin-left: 15px;
  margin-top: 6px;
  padding: 0px 0px;
  text-align: center;
  height: 48px;
  width: 55px;
  color: #f5f5f5;
  background-color: #dc3d3d;
  border-color: #dc3d3d;
  position: relative;
  border-radius: 4px;
  font-weight: bold;
}
header .button-favorites {
  margin-left: 15px;
  margin-top: 6px;
  left: 90px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  height: 48px;
  width: 55px;
  color: #f5f5f5;
  background-color: #dc3d3d;
  border-color: #dc3d3d;
  position: relative;
  border-radius: 4px;
  font-weight: bold;
}

header .button-shop-cart {
  margin-left: 10px;
  margin-top: 6px;
  text-align: center;
  height: 48px;
  width: 60px;
  color: #f5f5f5;
  background-color: #dc3d3d;
  border-color: #dc3d3d;
  position: relative;
  border-radius: 4px;
  font-weight: bold;
}
header .button-shop-cart .cart-lenght {
  position: absolute;
  background-color: cadetblue;
  margin-left: 10px;
  margin-top: -7px;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}
header .button-login {
  margin-left: 10px;
  margin-top: 6px;
  padding: 0px 0px;
  text-align: center;
  height: 48px;
  width: 60px;
  color: #f5f5f5;
  background-color: #dc3d3d;
  border-color: #dc3d3d;
  position: relative;
  border-radius: 4px;
  font-weight: bold;
}
header .button-logout {
  margin-left: 10px;
  margin-top: 6px;
  padding: 0px 0px;
  text-align: center;
  height: 48px;
  width: 60px;
  color: #f5f5f5;
  background-color: #dc3d3d;
  border-color: #dc3d3d;
  position: relative;
  border-radius: 4px;
  font-weight: bold;
}

header .catalog-main .catalog-text {
  text-align: center;
  font-size: 10px;
}
header .finder-main {
  margin-left: 150px;
  border-radius: 1px;
}
header .finder-main .favorites {
  width: 30px;
  height: 30px;
  size: 3cap;
}
header .finder-main .finder-input {
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  height: 40px;
  position: relative;
  padding-top: 8px;
}

header ul.nav {
  float: right;
  list-style: none;
}
header ul.nav li {
  display: inline;
  margin-left: 10px;
  cursor: pointer;
}
header .login-user {
  float: right;
  text-align: right;
}

@media (max-width: 1160px) {
  header .finder-main .finder-input {
    width: 300px;
  }
}
@media (max-width: 960px) {
  header .finder-main .finder-input {
    width: 160px;
  }
}

@media (max-width: 810px) {
  header {
    max-height: 100px;
    height: 100px;
  }
  header .catalog-main {
    margin-left: 10px;
    position: absolute;
  }
  header .button-favorites {
    left: -10px;
  }
  header .finder-main .finder-input {
    height: 30px;
    width: 350px;
    position: absolute;
    margin-top: 60px;
    left: 150px;
  }
  header ul.nav {
    position: absolute;
    margin-left: 235px;
    top: 16px;
  }
}
@media (max-width: 626px) {
  header {
    max-height: 100px;
    height: 100px;
  }
  header .catalog-main {
    margin-left: 0px;
  }

  header .button-login {
    margin-left: 0px;
  }
  header .button-shop-cart {
    margin-left: 0px;
  }

  header ul.nav {
    position: absolute;
    margin-left: 225px;
    top: 16px;
  }
  header .finder-main .finder-input {
    height: 30px;
    width: 350px;
    position: absolute;
    margin-top: 60px;
    left: 100px;
  }
  header ul.nav li {
    margin-left: 8px;
  }
}
@media (max-width: 488px) {
  header {
    min-width: 340px;
    width: 340px;
    flex: none;
  }
  header .button-favorites {
    margin-left: 45px;
    margin-top: 6px;
    right: 70px;
    position: absolute;
  }
  header .catalog-main {
    margin-left: 70px;
  }
  header .logo {
    position: absolute;
  }
  header ul.nav {
    position: absolute;
    margin-left: 120px;
    top: 16px;
    min-width: 250px;
  }
  header .logo img {
    margin-top: 18px;
    margin-left: 20px;
  }
  header .finder-main .finder-input {
    height: 30px;
    width: 150px;

    left: 150px;
  }
}

@media (max-width: 390px) {
}
